#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel-header .user-component {
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  animation: hideSplashScreen 0.5s ease-in-out forwards; /*끝난 상태를 유지해줌*/
  animation-delay: 1s;
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden; /*진짜로 없내는 것은 아님 무시하도록 하는 설정
    진짜 없애고 싶을 경우에는 자바스크립트를 사용해야함*/
  }
}
